@import "../scss/global";

.container {
    @include fullScreen();
    @include flex();
    @include media(mobile) {
        @include flex(center, center, column);
        height: 75vh;
    }
    .child {
        @include fullRatio(97%, 85%);
        border-radius: $sm;
        overflow: hidden;
        position: relative;

        @include media(mobile) {
            width: 95%;
            height: 80%;
            margin-top: 3%;
        }
    }
}