@import "../scss/global";

.container {
    @include fullScreen();
    @include flex();
    @include media(mobile) {
        @include flex(flex-start, center, column);
        height: 75vh;
        // background-color: red
    }
    .child {
        @include fullRatio(98%, 85%);
        border-radius: $sm;
        overflow: hidden;
        position: relative;

        @include media(mobile) {
            width: 95%;
            height: 80%;
            margin-top: 1%;
        }
    }
}