@import "../scss/global";

.container {
    @include fullScreen();
    @include flex(space-between, center, column);
    padding-bottom: 1rem;
    gap: 0rem;
    @include media(mobile) {
        @include flex(flex-start, center, column);
        // height: 80vh;
        // background-color: red
    }
    .child {
        @include fullRatio(98%, 83%);
        border-radius: $sm;
        overflow: hidden;
        position: relative;

        @include media(mobile) {
            width: 93%;
            height: 75%;
            margin-top: 2%;
        }
    }
}