@import "../scss/global";


.container {
    margin-top: 8%;
    @include fullScreen();
    @include flex();
    @include media(mobile) {
        height: auto;
    }
    .child {

        width: 100%;
        height: 90%;
        @include flex(center, flex-start);
        @include media(mobile) {
            flex-direction: column;
            align-items: center;
        }
        .box {
            width: 95%;
            height: 100%;
            @include flex(space-between);
            gap: 0.8rem;
        .context {
            width: 28%;
            height: 100%;
            @include flex(space-between, flex-start, column);
            @include media(mobile) {
                width: 100%;
                align-items: center;
                gap: 2rem;
            }
            &.second {
                width: 40%;
                @include media(mobile) {
                    width: 100%;
                }
            }
            .product {
                width: 100%;
                height: 40%;
                @include flex(flex-start, flex-start, column);

                &.first {
                    height: 50%;
                    .image {
                        height: 60%;
                        @include media(mobile) {
                            height: 10rem;
                        }
                    }
                }
                &.innerSecond {
                    height: 50%;
                    .image {
                        height: 60%;
                        @include media(mobile) {
                            height: 10rem;
                        }
                    }
                }



                &.secondFirst {
                    height: 100%;
                    @include media(mobile) {
                        margin-top: 2%;
                    }
                    .image {
                        height: 80%;
                        @include media(mobile) {
                            height: 16rem;
                        }
                    }
                }

                .image {
                    width: 100%;
                    height: 70%;
        
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        background-position: center center;
                        border-radius: $sm;
                    }
                }
                .text {
                    text-align: left;
                    padding: 0.2rem 0px 0px 0px;
                    padding-bottom: 0px;
                    @include flex(space-between, flex-start, column);
                    gap: 0.5rem;
                    h3 {
                        color: gray;
                        font-family: var(--font-pop);
                        font-weight: 300;
                        font-size: 1.2rem;
                    }
                    h1 {
                        font-weight: 500;
                    }
                }
            }
        }
        }
    }
}