@import "../../ui/scss/global";

.footer {
  background-color: $secondary;
  color: white;
  padding: 20px;
  height: 21rem;
  @include flex($fd: column);
  gap: 0.1rem;
  @include media(mobile) {
    flex-direction: column;
    height: auto;
  }
  .png {
    width: 4rem;
    height: 4rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50px;
    }
  }
  .box {
    width: 50%;
    height: 20%;
    @include flex();
    @include media(mobile) {
      width: 100%;
    }
    a {
        text-decoration: none;
        // text-align: center;
        .logo {
            font-size: 3rem;
            font-weight: bold;
            // text-align: center;
            color: white;
            @include media(mobile) {
              font-size: 2.5rem;
              text-align: center;
            }
        }
    }
    &.social {
      ul {
        @include flex();
        gap: 20px;
        list-style: none;
        @include media(mobile) {
          // @include flex(flex-start, flex-start, column);
          gap: 15px;
        }
        li {
            font-size: 1.2rem;
          cursor: pointer;
          transition: 0.3s all ease;
          &:hover {
            color: $primary;
            margin-top: -5px;
            transform: scale(0.9);
        }
        }

        .links {
          @include flex();
          border-radius: 50px;
          padding: 0.6rem;
          font-size: 35px;
          transition: 0.3s all ease;
          cursor: pointer;
          color: white;
          background: white;
          &:nth-child(1) {
            color: #206aff;
          }
          &:nth-child(2) {
            color: deeppink;
          }
          &:nth-child(3) {
            color: black;
          }
          &:nth-child(4) {
            color: red;
          }

          &:hover {
            transform: scale(0.9);
          }
        }
      }
    }
  }
}
